﻿<%@ Page Language="C#" MasterPageFile="~/Base.Master" AutoEventWireup="true" CodeBehind="Dashboard.aspx.cs" Inherits="Aspire.Web.Sys.Admin.Dashboard" %>

<asp:Content ID="Content2" ContentPlaceHolderID="BodyPH" runat="server">
	Under construction.
</asp:Content>
