﻿<%@ Page Language="C#" MasterPageFile="~/Base.Master" AutoEventWireup="true" CodeBehind="Dashboard.aspx.cs" Inherits="Aspire.Web.Sys.Student.Pgp.Dashboard" %>

<asp:Content ContentPlaceHolderID="HeadPH" runat="server">
</asp:Content>
<asp:Content ContentPlaceHolderID="BodyPH" runat="server">
</asp:Content>
