﻿<%@ Page MasterPageFile="~/Base.Master" Language="C#" AutoEventWireup="true" CodeBehind="CompileExam.aspx.cs" Inherits="Aspire.Web.Sys.Faculty.Exams.CompileExam" %>

<%@ Register Src="~/Sys/Common/Exam/CompileExam.ascx" TagPrefix="uc1" TagName="CompileExam" %>
<asp:Content runat="server" ContentPlaceHolderID="BodyPH">
	<uc1:CompileExam runat="server" ID="ucCompileExam" />
</asp:Content>
