﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CourseInfo.ascx.cs" Inherits="Aspire.Web.Sys.Common.Exam.CourseInfo" %>
<asp:Table CssClass="table table-bordered table-condensed" ID="tableCourseInfo" runat="server" Caption="Course Information" />
