﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Logoff.aspx.cs" Inherits="Aspire.Web.Sys.Candidate.Logoff" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title>Logoff</title>
</head>
<body>
	<form id="form1" runat="server">
	</form>
</body>
</html>
