﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Base.Master" AutoEventWireup="true" CodeBehind="Form.aspx.cs" Inherits="Aspire.Web.Sys.Staff.QA.Surveys.SurveyForm8.Form" %>
<%@ Register Src="~/Sys/Common/QA/Surveys/SurveyForm8/StaffV1.ascx" TagPrefix="uc1" TagName="QASurveyUserControl" %>
<asp:Content ContentPlaceHolderID="BodyPH" runat="server">
	<uc1:QASurveyUserControl runat="server" ID="QAsurveyUserControl" />
</asp:Content>
