﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Base.Master" AutoEventWireup="true" CodeBehind="EmployerSurvey.aspx.cs" Inherits="Aspire.Web.Sys.EmployerSurvey" %>

<%@ Register Src="~/Sys/Common/QA/Surveys/SurveyForm8/EmployerV1.ascx" TagPrefix="uc1" TagName="QASurveyUserControl" %>
<asp:Content ContentPlaceHolderID="BodyPH" runat="server">
	<uc1:QASurveyUserControl runat="server" ID="QAsurveyUserControl" />
</asp:Content>
