﻿@import "Layout";

@header-a-hover-bg-color: #555555;
@header-a-hover-color: #FFFFFF;
@header-a-badge-bg-color: #E9E9E9;
@header-a-badge-color: #333333;

@sidebar-bg-color: #616161;
@sidebar-hover-bg-color: #888888;
@sidebar-color: #FFFFFF;
@sidebar-hover-color: #FFFFFF;

@breadcrumb-color: #000000;
@breadcrumb-bg-color: #F0F0F0;
@breadcrumb-border-color: #E5E5E5;
@breadcrumb-slash-color: #AAAAAA;

@page-heading-color: #333333;
@page-heading-bg-color: #F9F9F9;
@page-heading-border-color: #E5E5E5;

.layout(Fire, #C0392B, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Deepsea, #005F9C, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Amethyst, #9B59B6, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Army, #7A8C74, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Asphalt, #34495E, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(City, #615C5C, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Autumn, #CC8F3F, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Cherry, #E74C3C, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Dawn, #D35400, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Diamond, #1ABC9C, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Grass, #849A47, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Leaf, #27AE60, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Night, #454545, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Ocean, #009FBC, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Oil, #B6B159, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Stone, #95A5A6, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Sun, #F39C12, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Tulip, #8E44AD, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);
.layout(Wood, #B67559, #FFFFFF, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color);

@import "Bootstrap";
@import "Helpers";
@import "Controls";
