﻿@ScrollTopWidth: 50px;
@ScrollTopHeight: 50px;
@ScrollTopBottomRightMargin: 15px;
@BootstrapDangerColor: #A94442;

.ScrollToTop {
	position: fixed;
	visibility: hidden;
	z-index: 99999999;
	background-color: #777777;
	color: #EEEEEE;
	width: @ScrollTopWidth;
	height: @ScrollTopHeight;
	right: @ScrollTopBottomRightMargin;
	bottom: @ScrollTopBottomRightMargin;
	border-radius: 50%;
	border: 0 none;
	margin: 0;
	padding: 0;

	&.Show {
		visibility: visible;
		cursor: pointer;
		opacity: 0.3;
		background-color: #888888;

		&:hover {
			opacity: 1.0;
		}

		> span {
			width: 100%;
			height: 100%;
			display: block;
			line-height: @ScrollTopHeight;
			vertical-align: middle;
			text-align: center;
		}

		> span > span.fa {
			line-height: @ScrollTopHeight;
		}
	}
}

textarea {
	resize: vertical;
	min-height: 75px;
}

@rblLabelFontWeight: normal;
@rblLabelPaddingLeft: 4px;
@rblHorizontalMarginBetweenRadios: 8px;

div.AspirePasswordStrengthMeter {
	margin: 0;
}

.AspireRadioButtonList, .AspireCheckBoxList {
	> span.aspNetDisabled {
		+ .aspNetDisabled {
			margin-left: 10px;
		}
	}
}

.modal.UpdatePanelProgressModal {
	text-align: center;
	padding: 0 !important;

	&::before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}

	.modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
		width: auto !important;
		margin: 0 !important;

		.modal-content {
			background-color: transparent;
			border: 0 none !important;
			-webkit-box-shadow: none;
			box-shadow: none;

			.modal-body {
				padding: 2px;
				background-color: #fff;
				border: 0 none;
				width: 100px;
				height: 100px;
				border-radius: 5px;

				.spinnerContainer {
					border: 1px solid #CCC;
					color: #000000;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 15px;
					border-radius: 4px;
					text-align: center;

					.fa-fw {
						width: auto;
					}
				}
			}
		}
	}
}

.input-group-btn select {
	border-color: #ccc;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
}

table.MarksSheet {
	@Assignment: #cde6ff;
	@Assignments: #add6ff;
	@Quiz: #d5fffe;
	@Quizzes: #b7f4f3;
	@Internals: #e7e7a4;
	@Mid: #fdeada;
	@Final: #e5e0ec;
	@Total: #ebf1dd;
	@Grade: #f2dcdb;
	@darkenPercentage: 5%;

	tr {
		> td, > th {
			&.Assignment {
				text-align: center;
				background-color: @Assignment;
			}

			&.Assignments {
				text-align: center;
				background-color: @Assignments;
			}

			&.Quiz {
				text-align: center;
				background-color: @Quiz;
			}

			&.Quizzes {
				text-align: center;
				background-color: @Quizzes;
			}

			&.Internals {
				text-align: center;
				background-color: @Internals;
			}

			&.Mid {
				text-align: center;
				background-color: @Mid;
			}

			&.Final {
				text-align: center;
				background-color: @Final;
			}

			&.Total {
				text-align: center;
				background-color: @Total;
			}

			&.Grade {
				text-align: center;
				background-color: @Grade;
			}
		}

		&:hover {
			> td {
				&.Assignment {
					background-color: darken(@Assignment, @darkenPercentage);
				}

				&.Assignments {
					background-color: darken(@Assignments, @darkenPercentage);
				}

				&.Quiz {
					background-color: darken(@Quiz, @darkenPercentage);
				}

				&.Quizzes {
					background-color: darken(@Quizzes, @darkenPercentage);
				}

				&.Internals {
					background-color: darken(@Internals, @darkenPercentage);
				}

				&.Mid {
					background-color: darken(@Mid, @darkenPercentage);
				}

				&.Final {
					background-color: darken(@Final, @darkenPercentage);
				}

				&.Total {
					background-color: darken(@Total, @darkenPercentage);
				}

				&.Grade {
					background-color: darken(@Grade, @darkenPercentage);
				}
			}
		}
	}
}
