﻿.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.topMargin15 {
	margin-top: 15px;
}

table.tableCol4 {
	> tbody {
		> tr {
			> th {
				white-space: nowrap;
			}

			> td {
				width: 50%;

				&[colspan] {
					width: auto !important;
				}
			}
		}
	}
}

table.tableCol6 {
	> tbody {
		> tr {
			> th {
				white-space: nowrap;
			}

			> td {
				width: 33.333333%;

				&[colspan] {
					width: auto !important;
				}
			}
		}
	}
}
