﻿* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	position: relative;
}

@header-height: 42px;
@footer-height: 25px;
@sidebar-width: 250px;
@header-mini-profile-icon-width: 32px;
@header-mini-profile-icon-height: @header-mini-profile-icon-width;
@header-profile-icon-width: 100px;
@header-profile-icon-height: @header-profile-icon-width;

@breadcrumb-color: #000000;
@breadcrumb-bg-color: #FFFFFF;
@breadcrumb-border-color: #FFFFFF;

@page-heading-color: #000000;
@page-heading-bg-color: #FFFFFF;
@page-heading-border-color: #FFFFFF;

.layout(@themeClass, @header-bg-color, @header-color, @header-a-hover-bg-color, @header-a-hover-color, @header-a-badge-bg-color, @header-a-badge-color, @sidebar-bg-color, @sidebar-hover-bg-color, @sidebar-color, @sidebar-hover-color, @breadcrumb-color, @breadcrumb-bg-color, @breadcrumb-border-color, @breadcrumb-slash-color, @page-heading-color, @page-heading-bg-color, @page-heading-border-color) {
	body.@{themeClass} {
		line-height: 1.6;
		font-size: 13px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		min-width: 320px;

		> form#form1 {
			padding: 0;
			margin: 0;

			> div#pageContainer {
				padding: @header-height 0 0 0;
				width: 100%;
				margin: 0 auto @footer-height 0;

				> header#header {
					height: @header-height;
					border-width: 0;
					border-style: none;
					min-height: @header-height;
					margin: 0;
					color: @header-color;
					background-color: @header-bg-color;
					cursor: default;

					> div.container-fluid {
						> div.navbar-header {
							> a.navbar-brand {
								color: inherit;
								height: @header-height;
								outline: none;

								&:hover {
									background-color: @header-a-hover-bg-color;
								}

								&#aSideBar {
									padding: 10px 15px 10px 15px;
									cursor: pointer;

									+ a#brand {
										padding: 10px;
									}
								}

								&#brandName, &#brandShortName, &#brandAlias {
									padding: 10px;
									margin-left: 0;
									opacity: 1;
									cursor: default;
									font-family: Cambria, Sans-serif, Georgia;
									font-size: 2em;
									overflow: hidden;

									@media (max-width: 575px) {
										&.Name, &.ShortName {
											display: none;
										}
									}

									@media (min-width: 576px) and (max-width: 991px) {
										&.Name, &.Alias {
											display: none;
										}
									}

									@media (min-width: 992px) {
										&.ShortName, &.Alias {
											display: none;
										}
									}

									&[href] {
										opacity: 1;

										&:hover {
											opacity: .9;
											cursor: pointer;
										}
									}

									&:hover {
										background-color: inherit;
									}
								}
							}

							> button {
								margin-top: 4px;
								margin-bottom: 4px;
								border-color: #FFFFFF;

								> span.icon-bar {
									background-color: #FFFFFF;
								}
							}
						}

						> div#AccountsNavbar {
							border: none !important;

							> ul {
								@media (max-width:767px) {
									background-color: @sidebar-bg-color;
									margin-top: 0;
									margin-bottom: 0;
								}

								> li {
									&:hover, &.dropdown.open {
										background-color: @header-a-hover-bg-color;

										> a > span.caret {
											visibility: visible;
										}
									}

									> a {
										display: block;
										height: @header-height;
										padding-top: 0;
										padding-bottom: 0;
										line-height: @header-height;
										vertical-align: middle;
										background-color: inherit;
										color: @header-a-hover-color;
										outline: none;

										> span.glyphicon {
											font-size: 24px;
											line-height: @header-height;
										}

										> span.badge {
											background-color: @header-a-badge-bg-color;
											color: @header-a-badge-color;
											margin-left: -2px;
										}
									}

									&.dropdown {
										> a {
											line-height: normal;

											> img {
												background-color: #FFFFFF;
												min-width: @header-mini-profile-icon-width;
												max-width: @header-mini-profile-icon-width;
												width: @header-mini-profile-icon-height;
												min-height: @header-mini-profile-icon-height;
												max-height: @header-mini-profile-icon-height;
												height: @header-mini-profile-icon-height;
												display: inline-block;
												margin-top: (@header-height - @header-mini-profile-icon-height)/2;
												border-radius: 50%;

												+ span.name + span.caret {
													margin-top: 0;
												}
											}

											> canvas {
												margin-top: (@header-height - @header-mini-profile-icon-height)/2;
												border-radius: 50%;
											}

											> span.name {
												line-height: @header-height;
												margin-left: 5px;
												vertical-align: top;
												display: inline-block;
											}

											> span.caret {
												visibility: visible;
												margin-top: -@header-height/2;
												margin-left: 0;
												margin-right: -7px;

												@media (max-width:767px) {
													visibility: visible;
													float: right;
													margin-top: 19px;
												}
											}

											&:hover > span.caret {
												visibility: visible !important;
											}
										}

										> ul.dropdown-menu {
											background-color: @sidebar-bg-color;
											border-width: 0 1px 1px 1px;
											border-style: solid;
											border-color: @header-bg-color;
											border-radius: 0;
											padding: 0;
											min-width: 100%;

											> li {
												color: @sidebar-color;
												background-color: @sidebar-bg-color;

												&:first-child {
													> div {
														background-color: @header-bg-color;
														padding: 10px;
														text-align: center;

														@media (min-width:768px) {
															min-width: 250px;
														}

														> img {
															background-color: #FFFFFF;
															min-width: @header-profile-icon-width;
															max-width: @header-profile-icon-width;
															width: @header-profile-icon-width;
															min-height: @header-profile-icon-height;
															max-height: @header-profile-icon-height;
															height: @header-profile-icon-height;
															border-radius: 50%;
														}

														> canvas {
															border-radius: 50%;
														}

														> img.avatar {
															visibility: visible;
														}

														> span.name {
															display: block;
															color: #FFFFFF;
															font-weight: bold;
														}

														> span.email {
															display: block;
															color: #EEEEEE;
															font-weight: normal;
														}
													}

													> div:nth-child(2) {
														background-color: #FFFFFF;
														margin: 0;
														padding: 10px;
													}
												}

												&.Active {
													font-weight: bold;
													font-style: italic;
													background-color: @sidebar-hover-bg-color;
													color: @sidebar-hover-color;
												}

												&:hover {
													background-color: @sidebar-hover-bg-color;
													color: @sidebar-hover-color;
												}

												> a {
													padding: 10px;
													color: inherit;
													background-color: inherit;
													background-image: none;
													font-weight: inherit;

													> span.glyphicon {
														margin-right: 10px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}

				> aside#sideBar {
					top: @header-height;
					width: @sidebar-width;
					max-height: none !important;
					padding: 0 !important;
					border-width: 0 1px 0 0;
					border-style: solid;
					border-color: @header-bg-color;
					position: fixed;
					bottom: 0;
					display: block;
					height: auto !important;
					cursor: default;

					div.slimScrollDiv {
						height: 100% !important;
					}

					div#sideMenuList {
						min-height: 100%;
						border: 0 none;
						border-radius: 0;
						background-color: @sidebar-bg-color;
						color: @sidebar-color;
						margin: 0;

						a {
							background-color: @sidebar-bg-color;
							color: @sidebar-color;
							border-radius: 0;
							border-width: 0 0 1px 0;
							border-style: none none solid none;
							border-color: @header-bg-color;
							outline: none;
							padding: 8px 10px;
							margin: 0;

							&:hover {
								background-color: @sidebar-hover-bg-color;
							}

							> i {
								float: right;
								margin: 3px 0;
							}
						}

						div.list-group-subMenu {
							margin: 0 0 0 10px;
							border: 0 none;
							color: inherit;
							background-color: inherit;
						}

						a.list-group-item {
							> i {
								float: right;
								margin: 3px 0;

								&.fa.fa-caret-down {
									display: inline-block;
								}

								&.fa.fa-caret-right {
									display: none;
								}
							}


							&.collapsed > i.fa.fa-caret-down {
								display: none !important;
							}

							&.collapsed > i.fa.fa-caret-right {
								display: inline-block !important;
							}
						}
					}

					+ div#pageContent {
						margin: 0 0 0 @sidebar-width;
					}
				}

				&.HideSideBar {
					> aside#sideBar {
						display: none;
					}

					> div#pageContent {
						margin: 0 !important;
					}
				}

				> div#pageContent {
					margin: 0;

					> div#breadCrumb {
						border-radius: 0;
						background-color: @breadcrumb-bg-color;
						border-bottom: 1px solid @breadcrumb-border-color;

						> ol.breadcrumb {
							background-color: inherit;
							margin: 0;
							padding: 2px 10px;

							> li {
								> a {
									color: @header-bg-color;
								}

								+ li:before {
									padding: 0 5px;
									content: "/ ";
									color: @breadcrumb-slash-color;
								}
							}
						}
					}

					> div#pageHeading {
						padding: 10px;
						margin: 0 0 15px 0;
						background-color: @page-heading-bg-color;
						border-width: 0 0 1px 0;
						border-style: solid;
						border-color: @page-heading-border-color;
						border-radius: 0;

						> h1 {
							color: @page-heading-color;
							border: 0 none;
							border-radius: 0;
							font-size: 32px;
							font-weight: bold;
							margin: 0;
							padding: 0;
							line-height: 100%;
							vertical-align: middle;

							> span {
								color: @header-bg-color;
							}
						}
					}

					> div.container-fluid {
						padding-bottom: 10px;

						> div#pageAlerts_up {
							> div.alert:last-child {
								margin-bottom: 15px;
							}
						}
					}
				}

				@media (max-width: 767px) {
					> aside#sideBar {
						top: auto;
						width: 100%;
						min-height: 100%;
						max-height: none !important;
						padding: 0 !important;
						border-width: 0 0 0 0;
						border-style: solid;
						border-color: @header-bg-color;
						position: static;
						bottom: auto;
						display: block;
						height: auto !important;
					}

					> div#pageContent {
						display: block;
						margin: 0 !important;
						width: 100%;
					}

					&.HideSideBar {
						> aside#sideBar {
							display: none;
						}
					}
				}
			}

			> footer#footer {
				position: absolute;
				right: 0;
				bottom: 0;
				display: block;
				min-height: @footer-height;
				margin: 0;
				padding: 0 10px;
				border-width: 1px 0 0 0;
				border-style: solid none none none;
				border-color: #EEEEEE;
				cursor: default;
			}

			> div#pageContainer + footer#footer {
				left: @sidebar-width;
			}

			> div#pageContainer.HideSideBar + footer#footer {
				left: 0;
			}

			@media (max-width: 767px) {
				> footer#footer {
					left: 0 !important;
				}
			}
		}
	}
}
