﻿<%@ Page Language="C#" MasterPageFile="~/ReportView.Master" AutoEventWireup="true" CodeBehind="IndividualSurveySummary.aspx.cs" Inherits="Aspire.Web.Sys.Executive.QualityAssurance.Reports.IndividualSurveySummary" %>

