﻿<%@ Page Language="C#" MasterPageFile="~/Sys/Staff/ExamSeatingPlan/Reports/ExamConduct.master" AutoEventWireup="true" CodeBehind="InvigilatorsPayment.aspx.cs" Inherits="Aspire.Web.Sys.Staff.ExamSeatingPlan.Reports.InvigilatorsPayment" %>
