﻿<%@ Page Language="C#" MasterPageFile="~/Sys/Staff/ExamSeatingPlan/Reports/ExamConduct.master" AutoEventWireup="true" CodeBehind="InvigilatorsAttendance.aspx.cs" Inherits="Aspire.Web.Sys.Staff.ExamSeatingPlan.Reports.InvigilatorsAttendance" %>

