﻿<%@ Page Language="C#" MasterPageFile="~/Sys/Staff/ExamSeatingPlan/Reports/DateAndSession.master" AutoEventWireup="true" CodeBehind="PaperReceiving.aspx.cs" Inherits="Aspire.Web.Sys.Staff.ExamSeatingPlan.Reports.PaperReceiving" %>

