﻿<%@ Page Language="C#" MasterPageFile="~/Sys/Staff/ExamSeatingPlan/Reports/ExamConduct.master" AutoEventWireup="true" CodeBehind="TeacherCoursesSlip.aspx.cs" Inherits="Aspire.Web.Sys.Staff.ExamSeatingPlan.Reports.TeacherCoursesSlip" %>
