﻿<%@ Page Language="C#" MasterPageFile="~/ReportView.Master" AutoEventWireup="true" CodeBehind="AdmissionProcessingFeeChallanReport.aspx.cs" Inherits="Aspire.Web.Sys.Staff.Admissions.Reports.AdmissionProcessingFeeChallanReport" %>

