﻿<%@ Page Language="C#" MasterPageFile="~/ReportView.Master" AutoEventWireup="true" CodeBehind="GeneratedEnrollmentsReport.aspx.cs" Inherits="Aspire.Web.Sys.Staff.Admissions.Reports.GeneratedEnrollmentsReport" %>

