﻿<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/Base.Master" CodeBehind="ExecutiveMaster.master.cs" Inherits="Aspire.Web.Sys.Executive.ExecutiveMaster" %>

<asp:Content runat="server" ContentPlaceHolderID="BodyPH">
	<asp:ContentPlaceHolder runat="server" ID="BodyPH" />
</asp:Content>
