﻿<%@ Page Language="C#" MasterPageFile="~/ReportView.Master" AutoEventWireup="true" CodeBehind="LectureWiseAttendance.aspx.cs" Inherits="Aspire.Web.Sys.Staff.ClassAttendance.Reports.LectureWiseAttendance" %>
<asp:Content ContentPlaceHolderID="Parameters" runat="server">
</asp:Content>
