﻿<%@ Page Language="C#" MasterPageFile="~/ReportView.Master" AutoEventWireup="true" CodeBehind="DailyStatementBankScrollReport.aspx.cs" Inherits="Aspire.Web.Sys.Staff.FeeManagement.Reports.DailyStatementBankScrollReport" %>