﻿<%@ Page Language="C#" MasterPageFile="~/ReportView.Master" AutoEventWireup="true" CodeBehind="DetailedScrollReport.aspx.cs" Inherits="Aspire.Web.Sys.Staff.FeeManagement.Reports.DetailedScrollReport" %>

