﻿<%@ Page Language="C#" MasterPageFile="~/Base.Master" AutoEventWireup="true" CodeBehind="ConfirmPersonalEmail.aspx.cs" Inherits="Aspire.Web.Sys.Student.ConfirmPersonalEmail" %>

<asp:Content runat="server" ContentPlaceHolderID="BodyPH">
	<div class="text-center">
		<aspire:AspireHyperLink runat="server" Text="Sign In" NavigateUrl="~/Logins/Student/Login.aspx" />
	</div>
</asp:Content>
