﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Base.Master" AutoEventWireup="true" CodeBehind="Form6.aspx.cs" Inherits="Aspire.Web.Sys.Faculty.QA.Surveys.SurveyForm6.Form6" %>

<%@ Register Src="~/Sys/Common/QA/Surveys/SurveyForm6/V1.ascx" TagPrefix="uc1" TagName="QASurveyUserControl" %>
<asp:Content ContentPlaceHolderID="BodyPH" runat="server">
	<uc1:QASurveyUserControl runat="server" ID="QAsurveyUserControl" />
</asp:Content>
