﻿@media print {
  @page {
    margin: 0.5in;
    size: portrait A4;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
}
@media print {
  body {
    margin: 0;
  }
}
@media screen {
  body {
    margin: 0.5in;
  }
}
@media print, screen {
  div.feedbackContainer {
    min-width: 7.27in !important;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  div.feedbackContainer div.pageHeader {
    margin: 0 0 10px 0;
  }
  div.feedbackContainer div.pageHeader > img {
    height: 0.7in;
    display: inline;
  }
  div.feedbackContainer div.pageHeader > h1 {
    display: inline;
    line-height: 0.7in;
    margin: 0 0 0 20px;
    padding: 0;
    vertical-align: top;
  }
  div.feedbackContainer div.pageHeader > div.printDate {
    clear: both;
    font-style: italic;
    text-align: right;
  }
  div.feedbackContainer div.feedback {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  div.feedbackContainer div.feedback > table.layout {
    width: 100%;
    border-collapse: collapse;
  }
  div.feedbackContainer div.feedback > table.layout > tbody > tr {
    page-break-inside: avoid;
  }
  div.feedbackContainer div.feedback > table.layout > tbody > tr > td,
  div.feedbackContainer div.feedback > table.layout > tbody > tr th {
    text-align: left;
    vertical-align: top;
    border: 1pt solid #000000;
    padding: 2px;
  }
  div.feedbackContainer div.feedback > table.layout > tbody > tr > td {
    width: 50%;
    word-break: break-all;
  }
  div.feedbackContainer div.feedback > table.layout > tbody > tr > th {
    white-space: nowrap;
  }
  div.feedbackContainer div.feedback > table.layout > tbody > tr > td:only-child {
    width: 100%;
  }
  div.feedbackContainer div.feedback + div.feedback {
    margin-top: 20px;
  }
}