﻿@media print {
	@page {
		margin: 0.5in;
		size: portrait A4;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;

	@media print {
		margin: 0;
	}

	@media screen {
		margin: .5in;
	}
}

@media print, screen {
	div.feedbackContainer {
		min-width: 7.27in !important;
		margin: 0;
		padding: 0;
		width: 100%;

		div.pageHeader {
			margin: 0 0 10px 0;

			> img {
				//width: .in;
				height: .7in;
				display: inline;
			}

			> h1 {
				display: inline;
				line-height: .7in;
				margin: 0 0 0 20px;
				padding: 0;
				vertical-align: top;
			}

			> div.printDate {
				clear: both;
				font-style: italic;
				text-align: right;
			}
		}

		div.feedback {
			padding: 0;
			margin: 0;
			width: 100%;

			> table.layout {
				width: 100%;
				border-collapse: collapse;

				> thead {
				}

				> tbody {
					> tr {
						page-break-inside: avoid;

						> td, th {
							text-align: left;
							vertical-align: top;
							border: 1pt solid #000000;
							padding: 2px;
						}

						> td {
							width: 50%;
							word-break: break-all;
						}

						> th {
							white-space: nowrap;
						}

						> td:only-child {
							width: 100%;
						}
					}
				}
			}

			& + div.feedback {
				margin-top: 20px;
			}
		}
	}
}
