﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Base.Master" AutoEventWireup="true" CodeBehind="AlumniSurvey.aspx.cs" Inherits="Aspire.Web.Sys.Student.QualityAssurance.AlumniSurvey" %>

<%@ Register Src="~/Sys/Common/QA/Surveys/SurveyForm7/AlumniV1.ascx" TagPrefix="uc1" TagName="QASurveyUserControl" %>
<asp:Content ContentPlaceHolderID="BodyPH" runat="server">
	<uc1:QASurveyUserControl runat="server" ID="QAsurveyUserControl" />
</asp:Content>
