﻿<%@ Page Language="C#" MasterPageFile="~/Base.Master" AutoEventWireup="true" CodeBehind="StudentClearanceForm.aspx.cs" Inherits="Aspire.Web.Sys.Student.Forms.StudentClearanceForm.StudentClearanceForm" %>

<%@ Register Src="~/Sys/Common/Forms/StudentClearanceForm/StudentClearanceForm.ascx" TagPrefix="uc1" TagName="ClearanceForm" %>
<asp:Content ContentPlaceHolderID="BodyPH" runat="server">
	<uc1:clearanceForm runat="server" id="clearanceForm" />
</asp:Content>

