﻿<%@ Page Language="C#" MasterPageFile="~/ReportView.Master" AutoEventWireup="true" CodeBehind="AdmissionFeeChallanReport.aspx.cs" Inherits="Aspire.Web.Sys.Candidate.Reports.AdmissionFeeChallanReport" %>

