﻿<%@ Page Language="C#" MasterPageFile="~/ReportView.Master" AutoEventWireup="true" CodeBehind="ExamResultStudentWise.aspx.cs" Inherits="Aspire.Web.Sys.Staff.Exams.Reports.ExamResultStudentWise" %>
<asp:Content ContentPlaceHolderID="Parameters" runat="server">
</asp:Content>
