﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Admissions.aspx.cs" Inherits="Aspire.Web.Admissions" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head runat="server">
	<title></title>
</head>
<body>
</body>
</html>
