﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PageHelp.ascx.cs" Inherits="Aspire.Web.PageHelp" %>
<ul class="nav navbar-nav navbar-right">
	<li>
		<asp:HyperLink ID="hl" runat="server"><span class="glyphicon glyphicon-th glyphicon-question-sign"></span></asp:HyperLink></li>
</ul>
