﻿<%@ Page Language="C#" MasterPageFile="~/Base.master" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="Aspire.Web.Logins.Candidate.Login" %>

<asp:Content ContentPlaceHolderID="BodyPH" runat="server">
	<div class="row" style="margin-top: 2%">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Candidate Sign in</h3>
				</div>
				<asp:Panel class="panel-body" runat="server" DefaultButton="btnLogin">
					<aspire:AspireAlert ID="loginAlert" runat="server" />
					<div class="form-group" runat="server" id="divtbSemester">
						<aspire:AspireLabel runat="server" AssociatedControlID="tbSemester" Text="Semester:" />
						<aspire:AspireTextBox runat="server" MaxLength="100" ID="tbSemester" ReadOnly="True" />
					</div>
					<div runat="server" class="form-group" id="divrblSemester">
						<aspire:AspireLabel runat="server" AssociatedControlID="rblSemesterID" Text="Semester:" />
						<div>
							<aspire:AspireRadioButtonList runat="server" ID="rblSemesterID" RepeatDirection="Horizontal" RepeatLayout="Flow" />
							<div>
								<aspire:AspireRequiredFieldValidator runat="server" ControlToValidate="rblSemesterID" ErrorMessage="This field is required." ValidationGroup="Login" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<aspire:AspireLabel runat="server" AssociatedControlID="tbEmail" Text="Email:" />
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
							<aspire:AspireTextBox runat="server" AutoCompleteType="Disabled" TextTransform="LowerCase" MaxLength="100" TextMode="Email" ID="tbEmail" PlaceHolder="someone@example.com" />
						</div>
						<aspire:AspireStringValidator runat="server" AllowNull="false" ValidationGroup="Login" ControlToValidate="tbEmail" RequiredErrorMessage="This field is required." InvalidDataErrorMessage="Invalid Email Address." ValidationExpression="Email" />
					</div>
					<div class="form-group">
						<aspire:AspireLabel runat="server" AssociatedControlID="tbPassword" Text="Password:" />
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
							<aspire:AspireTextBox runat="server" AutoCompleteType="Disabled" MaxLength="100" ValidationGroup="Login" TextMode="Password" ID="tbPassword" PlaceHolder="Password" />
						</div>
						<aspire:AspireStringValidator runat="server" AllowNull="false" ValidationGroup="Login" ControlToValidate="tbPassword" RequiredErrorMessage="This field is required." />
					</div>
					<div class="form-group" id="divReCaptcha" runat="server">
						<aspire:ReCaptcha runat="server" ID="reCaptcha" />
						<aspire:RecaptchaValidator runat="server" ID="cvRecaptcha" ValidationGroup="Login" ErrorMessage="Verify you are not a robot." CssClass="text-danger" />
					</div>
					<div class="form-group">
						<aspire:AspireButton Text="Sign In" ID="btnLogin" ValidationGroup="Login" OnClick="btnLogin_Click" ButtonType="Primary" CssClass="btn-block" runat="server" />
					</div>
					<div class="form-group">
						<div class="text-right">
							<aspire:AspireHyperLink runat="server" Text="Forgot Password?" NavigateUrl="ForgotPassword.aspx" />
						</div>
					</div>
					<div class="form-group">
						<aspire:AspireHyperLink runat="server" Text="Create New Account" CssClass="btn btn-success btn-block" NavigateUrl="Registration.aspx" />
					</div>
				</asp:Panel>
			</div>
		</div>
	</div>
	<asp:Literal Mode="PassThrough" ID="literalJs" runat="server" />
	<script type="text/javascript">
		deleteAllCookies();
	</script>
</asp:Content>
