﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Base.Master" AutoEventWireup="true" CodeBehind="ControlPanel.aspx.cs" Inherits="Aspire.Web.Sys.Staff.QA.Surveys.SurveyForm5.ControlPanel" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadPH" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyPH" runat="server">
</asp:Content>
